.title {
    padding:20px 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    font-size:25px;
}

body {
    margin:0;
    background-repeat: repeat;
    background-color:dimgray;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-attachment: fixed;
}

h1 {
    color:darkcyan;
    text-align: center;
}
span {
    color: white;
}

.content-background {
    background: rgba(0, 0, 0, 0.5);
    width: fit-content;
}

h2 {
    font-size:35px;
    margin-left: 50px;
    color:darkcyan;
}
h3 {
    font-size:25px;
    margin-left: 50px;
}
p {
    font-size:15px;
    margin-left: 50px;
}