.title {
    padding:20px 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;;
    overflow-y: hidden;
    font-size:25px;
}

body {
    margin:0;
    background-repeat: repeat;
    background-image: url("source/3dPatterns.png");
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-attachment: fixed;
}

h1{
    color:darkcyan;
    text-align: center;
}
span {
    color: white;
}

.content-background {
    margin: auto;
    background-size: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top:20px;
    
}

h2 {
    font-size:35px;
    margin-left: 30px;
}
h3 {
    font-size:25px;
    margin-left: 30px;
}
p {
    font-size:20px;
    margin-left: 30px;
}